<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/index.css' />
    <style>
      .pcon{background-color:lightsalmon}
      .con{background-color:lightpink}
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p class="pcon">Welcome to <%= title %></p>
    <div class="con">
      欢迎来到express
      <p class="con1">
        白日依山尽
      </p>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
